<header class="header">
  <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () { 
      const urlParams = new URLSearchParams(window.location.search);
      const clusterName = urlParams.get('CLUSTER_SUBDOMAIN');
      const projectName = urlParams.get('PROJECT');
      if (clusterName) {
        showCluster( clusterName );
      }
      else {
        showClusterForm();
      }

      if (projectName) {
        showProject( projectName );
      } else {
        showProjectForm();
      }
    } );

    function showCluster( clusterName ) {
      document.getElementById('navbar-form-empty').style.display = "none";
      document.getElementById('navbar-form-filled').style.display = "flex";
      document.getElementById('cluster_subdomain').textContent = clusterName;
      document.getElementById('clusterfield2').value = clusterName;

    }

    function showClusterForm( clusterName ) {
      document.getElementById('navbar-form-empty').style.display = "flex";
      document.getElementById('navbar-form-filled').style.display = "none";
    }

    function gowithcluster() {
      elClusterInput = document.getElementById('clusterfield');
      elProjectInput = document.getElementById('projectfield2');

      window.location.search = ('&CLUSTER_SUBDOMAIN=' + elClusterInput.value + '&PROJECT=' + elProjectInput.value);
    }

    function showProject( projectName ) {
      document.getElementById('navbar-form-project-empty').style.display = "none";
      document.getElementById('navbar-form-project-filled').style.display = "flex";
      document.getElementById('project').textContent = projectName;
      document.getElementById('projectfield2').value = projectName;
    }

    function showProjectForm( projectName ) {
      document.getElementById('navbar-form-project-empty').style.display = "flex";
      document.getElementById('navbar-form-project-filled').style.display = "none";
    }

    function gowithproject() {
      elProjectInput = document.getElementById('projectfield');
      elClusterInput = document.getElementById('clusterfield2');
      window.location.search = ('&CLUSTER_SUBDOMAIN=' + elClusterInput.value + '&PROJECT=' + elProjectInput.value);
    }

  </script>
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://developers.redhat.com" target="_blank"><img
          src="{{uiRootPath}}/img/header_logo.png" height="40px" alt="Red Hat Developer Program"></a>
      <a class="navbar-item" href="{{{or site.url (or siteRootUrl siteRootPath)}}}">{{site.title}}</a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item" id="navbar-form-empty">
          <span class="navbar-text" style="margin-left: 1rem; margin-right: 1rem;">&nbsp;<i style="color: orange;"
              class="fa fa-exclamation-triangle" aria-hidden="true"></i></span>

          <form action="javascript:void(0);" onsubmit="gowithcluster();">
            <input size="40" id="clusterfield" type="text" placeholder="Enter Cluster Subdomain">
            <input type="hidden" id="projectfield2" name="projectfield2" value="">
          </form>
        </div>

        <div class="navbar-item" id="navbar-form-filled" style="display: none;">
          <span class="navbar-text" style="margin-left: 1rem; margin-right: 1rem;">|</span>
          <span class="navbar-text" id="cluster_subdomain"></span>
          <span class="navbar-text" style="margin-left: 1rem; margin-right: 1rem;">&nbsp;<i onclick="recycle();" style="color: green;" class="fa fa-recycle" aria-hidden="true"></i></span>
        </div>

         <div class="navbar-item" id="navbar-form-project-empty">
          <span class="navbar-text" style="margin-left: 1rem; margin-right: 1rem;">&nbsp;<i style="color: orange;"
              class="fa fa-exclamation-triangle" aria-hidden="true"></i></span>

          <form action="javascript:void(0);" onsubmit="gowithproject();">
            <input size="40" id="projectfield" type="text" placeholder="Enter Project Name">
            <input type="hidden" id="clusterfield2" name="clusterfield2" value="">
          </form>
        </div>

        <div class="navbar-item" id="navbar-form-project-filled" style="display: none;">
          <span class="navbar-text" style="margin-left: 1rem; margin-right: 1rem;">|</span>
          <span class="navbar-text" id="project"></span>
          <span class="navbar-text" style="margin-left: 1rem; margin-right: 1rem;">&nbsp;<i onclick="recycle();" style="color: green;" class="fa fa-recycle" aria-hidden="true"></i></span>
        </div>

        <a class="navbar-item" href="https://developers.redhat.com/ebooks/" target="_blank">Books</a>
        <a class="navbar-item" href="https://developers.redhat.com/cheatsheets/" target="_blank">Cheat Sheets</a>
        <a class="navbar-item" href="https://developers.redhat.com/events/" target="_blank">Upcoming Events</a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">More Tutorials</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://redhat-scholars.github.io/kubernetes-tutorial/" target="_blank">Kubernetes</a>
            <a class="navbar-item" href="https://redhat-scholars.github.io/istio-tutorial/" target="_blank">Istio</a>
            <a class="navbar-item" href="https://redhat-developer-demos.github.io/quarkus-tutorial/" target="_blank">Quarkus</a>
            <a class="navbar-item" href="https://redhat-developer-demos.github.io/knative-tutorial/" target="_blank">Knative</a>
            <a class="navbar-item" href="https://redhat-scholars.github.io/tekton-tutorial/" target="_blank">Tekton</a>
          </div>
      </div>
    </div>
  </nav>
</header>